.title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}
.page-box{
    margin-top: 20px;
    position: relative;
  

}
.page{
    position: absolute;
    right: 10px;
   
   
   
  
}